@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  overflow: hidden;
  background-color: #181a18;
}

/* carousel */
.carousel {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.carousel .list .item {
  width: 180px;
  height: 250px;
  position: absolute;
  top: 80%;
  transform: translateY(-70%);
  left: 70%;
  border-radius: 20px;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.3);
  filter: brightness(85%);
  background-position: 50% 50%;
  background-size: cover;
  z-index: 100;
  transition: 1s;
}

.carousel .list .item:nth-child(1),
.carousel .list .item:nth-child(2) {
  top: 0;
  left: 0;
  transform: translate(0, 0);
  border-radius: 0;
  width: 100%;
  height: 100%;
}

.carousel .list .item:nth-child(3) {
  left: 67%;
}

.carousel .list .item:nth-child(4) {
  left: calc(67% + 200px);
}

.carousel .list .item:nth-child(5) {
  left: calc(67% + 400px);
}

.carousel .list .item:nth-child(6) {
  left: calc(67% + 600px);
}

.carousel .list .item:nth-child(n + 7) {
  left: calc(67% + 800px);
  opacity: 0;
}

.list .item .content {
  position: absolute;
  top: 50%;
  left: 100px;
  transform: translateY(-50%);
  width: 400px;
  text-align: left;
  color: #fff;
  display: none;
}

.list .item:nth-child(2) .content {
  display: block;
}

.content .title {
  font-size: 100px;
  text-transform: uppercase;
  color: #00B8A9;
  font-weight: bold;
  line-height: 1;
  text-shadow: 1px 2px 2px rgba(255, 255, 255, 0.8);

  opacity: 0;
  animation: animate 1s ease-in-out 0.3s 1 forwards;
}

.content .name {
  font-size: 100px;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 1;
  text-shadow: 3px 4px 4px rgba(255, 255, 255, 0.8);

  opacity: 0;
  animation: animate 1s ease-in-out 0.6s 1 forwards;
}

.content .des {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 18px;
  margin-left: 5px;

  opacity: 0;
  animation: animate 1s ease-in-out 0.9s 1 forwards;
}

/* tombol container */
.content .btn {
  margin-left: 5px;
  opacity: 0;
  animation: animate 1s ease-in-out 1.2s forwards;
}

/* tombol utama */
.content .btn button {
  position: relative;
  padding: 12px 35px;
  background: #00B8A9;
  font-size: 17px;
  font-weight: 500;
  color: #181818;
  border: 3px solid #00B8A9;
  border-radius: 28px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 0 0 #576F728c;
  overflow: visible;
}

/* hover button */
.content .btn button:hover {
  background: transparent;
  color: #00B8A9;
  box-shadow: 0 0 25px #576F728c;
}

/* ===== STAR BASE ===== */
.content .btn button .star-1,
.content .btn button .star-2,
.content .btn button .star-3,
.content .btn button .star-4,
.content .btn button .star-5,
.content .btn button .star-6 {
  position: absolute;
  z-index: -5;
  transition: all 0.8s cubic-bezier(0.05, 0.83, 0.43, 0.96);
}

/* ukuran SVG */
.content .btn button svg {
  width: 100%;
  height: auto;
}

/* posisi awal */
.star-1 { top: 20%; left: 20%; width: 25px; }
.star-2 { top: 45%; left: 45%; width: 15px; }
.star-3 { top: 40%; left: 40%; width: 5px; }
.star-4 { top: 20%; left: 40%; width: 8px; }
.star-5 { top: 25%; left: 45%; width: 15px; }
.star-6 { top: 5%;  left: 50%; width: 5px; }

/* ===== HOVER EFFECT ===== */
.content .btn button:hover .star-1 {
  top: -80%;
  left: -30%;
  z-index: 2;
}

.content .btn button:hover .star-2 {
  top: -25%;
  left: 10%;
  z-index: 2;
}

.content .btn button:hover .star-3 {
  top: 55%;
  left: 25%;
  z-index: 2;
}

.content .btn button:hover .star-4 {
  top: 30%;
  left: 80%;
  z-index: 2;
}

.content .btn button:hover .star-5 {
  top: 25%;
  left: 115%;
  z-index: 2;
}

.content .btn button:hover .star-6 {
  top: 5%;
  left: 60%;
  z-index: 2;
}

/* warna star */
.fil0 {
  fill: #fffdef;
}

@keyframes animate {
  from {
    opacity: 0;
    transform: translate(0, 100px);
    filter: blur(33px);
  }

  to {
    opacity: 1;
    transform: translate(0);
    filter: blur(0);
  }
}

/* next prev arrows */
.arrows {
  position: absolute;
  top: 80%;
  right: 52%;
  z-index: 100;
  width: 300px;
  max-width: 30%;
  display: flex;
  gap: 10px;
  align-items: center;
}

.arrows button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #00B8A9;
  color: #fff;
  border: none;
  outline: none;
  font-size: 20px;
  font-family: monospace;
  font-weight:bolder;
  transition: 0.5s;
  cursor: pointer;
}

.arrows button:hover {
  background: #fff;
  color: #000;
}

/* time running */
.carousel .timeRunning {
  position: absolute;
  z-index: 1000;
  width: 0%;
  height: 4px;
  background-color: #00B8A9;
  left: 0;
  top: 0;
  animation: runningTime 7s linear 1 forwards;
}

@keyframes runningTime {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

/* Responsive Design */
@media screen and (max-width: 999px) {
  header {
    padding-left: 50px;
  }

  .list .item .content {
    left: 50px;
  }

  .content .title,
  .content .name {
    font-size: 70px;
  }

  .content .des {
    font-size: 16px;
    margin-right: 1rem;
  }
}

/* arrows */
@media screen and (max-width: 690px) {
  header nav a {
    font-size: 14px;
    margin-right: 0;
  }

  .list .item .content {
    top: 40%;
  }

  .content .title,
  .content .name {
    font-size: 45px;
  }

  .content .btn button {
    padding: 10px 15px;
    font-size: 14px;
  }
}
